@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-content {
    background-image: url("/storage/images/bg.png");
    background-size: cover;
    background-position: center;
} */
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}
.oliatum-body {
    background-image: url("/storage/images/oilatum_bg.jpg");
    background-size: cover;
    background-position: center;
}
.nizoral-body {
    background-image: url("/storage/images/nizoral_bg.jpg");
    background-size: cover;
    background-position: center;
}
.pafinur-body {
    background-image: url("/storage/images/pafinur/1/pafinur_bg.jpg");
    background-size: cover;
    background-position: top center;
}
.pafinur-body.background-2 {
    background-image: url("/storage/images/pafinur/2/background.jpg");
}
.pafinur-register-button {
    @apply cursor-pointer flex items-center justify-center rounded-full w-[30vw] h-[30vw] p-4 text-[4vw] font-bold leading-none text-white;
    background-color: transparent;
    background-image: url("/storage/images/pafinur/2/button-bg.png");
    background-size: cover;
    background-position: center;
}
.amarox-body {
    background-image: url("/storage/images/bg.jpg");
    background-size: cover;
    background-position: center;
}
